<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
      <nb-card-header>
        <ng-container *ngIf="!isEdit; else editDiv">{{ 'GENERIC.ADD' | translate }}</ng-container>
        <ng-template #editDiv>{{ 'GENERIC.EDIT' | translate }}</ng-template>
        {{ 'LEAVE' | translate }}
      </nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="save()" #form="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label">{{ 'LEAVE_TYPE' | translate }}</label>
                <nb-select fullWidth [formControl]="myForm.controls['vacation_type_id']"
                  [status]="submitted ? (myForm.controls.vacation_type_id.invalid  ? 'danger' : 'success') : 'basic'"
                  placeholder="{{ 'LEAVE_TYPE' | translate }}" [(ngModel)]="leave.vacation_type_id">
                  <nb-option *ngFor="let item of leaveTypes" value="{{item.id}}">{{item.name}} - {{item.name_ar}}
                  </nb-option>
                </nb-select>
              </div>
              <ng-container *ngIf="myForm.controls.type.errors?.required && submitted">
                <p class="caption status-danger">
                  {{ 'REQUIRED_FEILD' | translate }}
                </p>
              </ng-container>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label">{{ 'CALENDAR_TYPE' | translate }}</label>
                <nb-select fullWidth [formControl]="myForm.controls['type']"
                  [status]="submitted ? (myForm.controls.type.invalid  ? 'danger' : 'success') : 'basic'"
                  [(ngModel)]="leave.type" placeholder="{{ 'CALENDAR_TYPE' | translate }}">
                  <nb-option value="1">{{ 'GEORGIAN' | translate }}</nb-option>
                  <nb-option value="2">{{ 'HIJRI_UM' | translate }}</nb-option>
                </nb-select>
              </div>
              <ng-container *ngIf="myForm.controls.type.errors?.required && submitted">
                <p class="caption status-danger">
                  {{ 'REQUIRED_FEILD' | translate }}
                </p>
              </ng-container>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" *ngIf="leave.type == '1'">
              <div class="form-group">
                <label for="exampleInputEmail1" class="label">{{ 'LEAVE_DATE' | translate }}</label>
                <input  nbInput fullWidth [formControl]="myForm.controls['date']"
                  [status]="submitted ? (myForm.controls.date.invalid  ? 'danger' : 'success') : 'basic'"
                  [(ngModel)]="date" placeholder="{{ 'LEAVE_DATE' | translate }}" [nbDatepicker]="dobPicker">
                <nb-rangepicker #dobPicker></nb-rangepicker>
              </div>
            </div>

            <div class="col-md-12" *ngIf="leave.type == '2'">
              <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t" outsideDays="hidden">
              </ngb-datepicker>

              <ng-template #t let-date let-focused="focused">
                <span class="custom-day"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <button nbButton type="submit" status="primary" size="medium">
            {{ 'SAVE' | translate }}
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>