@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }

  .status{
    padding: 5px !important; 
    border-radius: 3px;
  }

  .class1{
    background-color: #cecece;
  }

  agm-map{
    width: 500px !important;
    height: 500px !important;
  }
}
