<!-- <nb-card>
  <nb-card-header>
    {{ 'MENU_ITEMS.LEAVES' | translate }}
  </nb-card-header> -->

<!-- <nb-card-body> -->

<div class="row">
  <div class="col-md-8">
    <h2>{{ 'MENU_ITEMS.LEAVES' | translate }}</h2>
  </div>
  <div class="col-md-4 " style="padding: 0px !important;">
    <button class="float-right" nbButton outline status="primary" *ngIf="employee" size="small"
      [routerLink]="'/pages/leaves/add'">
      <nb-icon icon="plus-outline"></nb-icon>{{ 'GENERIC.ADD' | translate }} {{ 'LEAVE' | translate }}
    </button>
    <button [nbSpinner]="exporting" nbSpinnerSize="small" class="float-right" nbButton outline status="dark"
      size="small" (click)="export()">
      {{ 'EXPORT' | translate }}
    </button>
  </div>
</div>

<div class="row" *ngIf="!employee">
  <!-- <div class="col-md-3">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
      <nb-card-header>{{ 'TOTAL_AVAILABLE_LEAVES' | translate }}</nb-card-header>
      <nb-card-body>
        <h3>{{stats.pending}} <small>{{ 'DAYS' | translate }}</small></h3>
      </nb-card-body>
    </nb-card>
  </div> -->
  <div class="col-md-4">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
      <nb-card-header>{{ 'CURRENTLY_ON_LEAVE' | translate }}</nb-card-header>
      <nb-card-body>
        <h3>{{stats.currently}} <small>{{ 'EMPLOYEE' | translate }}</small></h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
      <nb-card-header>{{ 'NEW_LEAVES' | translate }}</nb-card-header>
      <nb-card-body>
        <h3>{{stats.pending}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
      <nb-card-header>{{ 'REJECTED_LEAVES' | translate }}</nb-card-header>
      <nb-card-body>
        <h3>{{stats.rejected}}</h3>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<br />
<nb-accordion>
  <nb-accordion-item #item>
    <nb-accordion-item-header>
      {{ 'SEARCH' | translate }}
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <form class="form-inline">
        <!-- <ng-select appendTo="body" *ngIf="!employee" nbInput fullWidth [multiple]="true" name="employeeIds" (search)="searchE($event)"
          [loading]="peopleLoading" typeToSearchText="Please enter 2 or more characters" [(ngModel)]="employeeIds">
          <ng-option *ngFor="let employee of employees" [value]="employee.id">{{employee.full_name}}</ng-option>
        </ng-select> -->

        <nb-select fullWidth placeholder="Status" name="vacation_status_id"
          [(ngModel)]="query.statusId">
          <nb-option *ngFor="let item of statuses" value="{{item.id}}">{{item.value}}
          </nb-option>
        </nb-select>

        <input nbInput fullWidth autocomplete="off" [(ngModel)]="range" name="range"
          placeholder="{{ 'DATE' | translate }}" [nbDatepicker]="rangeDate" name="rangeDate">
        <nb-rangepicker #rangeDate></nb-rangepicker>

        <nb-select fullWidth placeholder="{{ 'LEAVE_TYPE' | translate }}" name="vacation_type_id"
          [(ngModel)]="query.vacation_type_id">
          <nb-option *ngFor="let item of leaveTypes" value="{{item.id}}">{{item.name}} - {{item.name_ar}}
          </nb-option>
        </nb-select>
        <button type="submit" nbButton status="primary" (click)="search()">{{ 'SEARCH' | translate }}</button>
      </form>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
<br />

<ngx-datatable class="material striped" [virtualization]="false" [loadingIndicator]="loadingIndicator" [rows]="data"
  [columnMode]="ColumnMode.force" [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
  [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
  (page)="getResult($event)">

  <ngx-datatable-column name="#" [width]="10">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
      {{(rowIndex+1) + (page.pageNumber * page.size) }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column *ngIf="!employee" name="{{ 'NAME' | translate }}" prop="employee">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span>{{value.full_name}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{ 'FROM' | translate }}" prop="from"></ngx-datatable-column>
  <ngx-datatable-column name="{{ 'TO' | translate }}" prop="to"></ngx-datatable-column>
  <ngx-datatable-column name="{{ 'TYPE' | translate }}" prop="type">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span>{{value.name}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{ 'STATUS_TEXT' | translate }}" prop="status">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <div class="span-status class{{value.id}}">
        <span>{{value.name}} - {{value.name_ar}}</span>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column *ngIf="!employee" name="{{ 'ACTIONS' | translate }}" sortable="false" prop="id">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ng-container *ngIf="row.vacation_status_id == 1">
        <button nbButton ghost size="small" status="primary" (click)="accept(row)">
          <nb-icon icon="checkmark-circle-outline"></nb-icon>
        </button>
        <button nbButton ghost size="small" status="danger" (click)="reject(row)">
          <nb-icon icon="close-circle-outline"></nb-icon>
        </button>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column *ngIf="employee" name="{{ 'ACTIONS' | translate }}" sortable="false" prop="id">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ng-container *ngIf="row.vacation_status_id == 1">
        <button nbButton ghost size="small" status="primary" (click)="edit(value)">
          <nb-icon icon="edit-2-outline"></nb-icon>
        </button>
        <button nbButton ghost size="small" status="danger" (click)="cancel(row)">
          <nb-icon icon="trash-outline"></nb-icon>
        </button>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<table class="table" #myTableElementId id="myTableElementId" *ngIf="exported" style="display: none;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ 'NAME' | translate }}</th>
      <th scope="col">{{ 'FROM' | translate }}</th>
      <th scope="col">{{ 'TO' | translate }}</th>
      <th scope="col">{{ 'TYPE' | translate }}</th>
      <th scope="col">{{ 'STATUS_TEXT' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allLeaves; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td> <span *ngIf="item.employee != null">{{item.employee.full_name}} </span></td>
      <td>{{item.from}}</td>
      <td>{{item.to}}</td>
      <td>{{item.type.name}}</td>
      <td>{{item.status.name}}</td>
    </tr>
  </tbody>
</table>