<div class="row">
  <div class="demo-container">
    <div class="col-md-12">
      <div class="demo-header">
        <h1>UniSync Demo Experience - عرض تجريبي للنظام</h1>
      </div>
      <div class="screenshots-section">
        <div class="screenshots-group">
          <h2>Company Preview - منظور الشركة</h2>
          <div class="english-preview">
            <h3>English</h3>
            <img src="../../../assets/images/en-company.png" />
          </div>
          <div class="arabic-preview">
            <h3>عربي</h3>
            <img src="../../../assets/images/ar-company.png" />
          </div>
        </div>
        <div class="screenshots-group">
          <h2>Employee Preview - منظور المقاول</h2>
          <div class="english-preview">
            <h3>English</h3>
            <img src="../../../assets/images/en-employee.png" />
          </div>
          <div class="arabic-preview">
            <h3>عربي</h3>
            <img src="../../../assets/images/ar-employee.png" />
          </div>
        </div>
      </div>
      <h2>Actions - التصرفات</h2>
      <div class="footer-section">
        <div class="actions-section">
          <button [routerLink]="'/demo/leaves/add'" class="button-82-pushable" role="button">
            <span class="button-82-shadow"></span>
            <span class="button-82-edge"></span>
            <span class="button-82-front text">
              Request leave - طلب اجازة جديد
            </span>
          </button>
          <button [routerLink]="'/demo/leaves'" class="button-82-pushable" role="button">
            <span class="button-82-shadow"></span>
            <span class="button-82-edge"></span>
            <span class="button-82-front text">
              View Leave requests - الإطلاع على طلبات الإجازة
            </span>
          </button>
          <button [routerLink]="'/demo/payroll'" class="button-82-pushable" role="button">
            <span class="button-82-shadow"></span>
            <span class="button-82-edge"></span>
            <span class="button-82-front text">
              Generate Payroll - إنشاء كشف رواتب
            </span>
          </button>
        </div>
        <div class="register-section">
          <div style="min-width: 35vw ;">
            <button [routerLink]="'/auth/register'" class="button-49" role="button">Click here to Register - اضغط هنا للتسجيل</button>
          </div>
          <h3 style="text-align:right;">Get Access to the Unlimeted Unisync Experience now <br/> يمكنك التمتع بمزايا يونيسينك الكاملة بلا قيود الآن</h3>
        </div>
      </div>
    </div>
  </div>
</div>