<div class="demo-main">
  <div class="demo-header">
    <div>
      <h1 style="color:white">UniSync Demo Experience<br />عرض تجريبي للنظام</h1>
      <p style="color:white">Get Access to the Unlimeted Unisync Experience now <br /> يمكنك التمتع بمزايا يونيسينك الكاملة بلا قيود الآن
      </p>
      <div  class="register-button-container">
        <button [routerLink]="'/auth/register'" class="register-button">
          التسجيل
        </button>
      </div>
    </div>
  </div>
  <div class="demo-container">
    <div>
      <div class="screenshots-section">
        <div class="screenshots-group">
          <h2>Company Preview <br /> منظور الشركة</h2>
          <div class="english-preview">
            <img src="../../../assets/images/en-company.png" />
          </div>
          <div class="arabic-preview">
            <img src="../../../assets/images/ar-company.png" />
          </div>
        </div>
        <div class="screenshots-group">
          <h2>Employee Preview <br /> منظور الموظف</h2>
          <div class="english-preview">
            <img src="../../../assets/images/en-employee.png" />
          </div>
          <div class="arabic-preview">
            <img src="../../../assets/images/ar-employee.png" />
          </div>
        </div>
      </div>
      <div class="footer-section">
        <div class="actions-section">
          <div>
            <h3>Request leave <br /> طلب اجازة جديد</h3>
            <button [disabled]="disabled" [routerLink]="'/demo/leaves/add'" class="button-82-pushable" role="button">
              <span class="button-82-shadow"></span>
              <span class="button-82-edge"></span>
              <span class="button-82-front text">
                هنا
              </span>
            </button>
          </div>
          <div>
            <h3>View Leave requests <br /> الإطلاع على طلبات الإجازة</h3>
            <button [routerLink]="'/demo/leaves'" class="button-82-pushable" role="button">
              <span class="button-82-shadow"></span>
              <span class="button-82-edge"></span>
              <span class="button-82-front text">
                هنا
              </span>
            </button>
          </div>
          <div>
            <h3>Generate Payroll <br /> إنشاء كشف رواتب</h3>
            <button [routerLink]="'/demo/payroll'" class="button-82-pushable" role="button">
              <span class="button-82-shadow"></span>
              <span class="button-82-edge"></span>
              <span class="button-82-front text">
                هنا
              </span>
            </button>
          </div>
        </div>
        <!-- <div class="register-section">
          <div style="min-width: 35vw ;">
            <button [routerLink]="'/auth/register'" class="button-49" role="button">Click here to Register - اضغط هنا للتسجيل</button>
          </div>
          <h3 style="text-align:right;">Get Access to the Unlimeted Unisync Experience now <br/> يمكنك التمتع بمزايا يونيسينك الكاملة بلا قيود الآن</h3>
        </div> -->
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>