<div class="row">
  <div class="col-md-12">
    <h2>{{ 'MENU_ITEMS.NOTIFICATIONS' | translate }}</h2>
  </div>
</div>

<nb-accordion>
  <nb-accordion-item #item>
    <nb-accordion-item-header>
      {{ 'SEARCH' | translate }}
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <form class="form-inline">
        <input type="text" nbInput fullWidth placeholder="{{ 'NAME' | translate }}" [(ngModel)]="query.name" [ngModelOptions]="{standalone: true}">
        <button type="submit" nbButton status="primary" (click)="search()">{{ 'SEARCH' | translate }}</button>
      </form>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
<br />

<ngx-datatable class="material striped" [virtualization]="false"[loadingIndicator]="loadingIndicator" [rows]="data" [columns]="columns"
  [columnMode]="ColumnMode.force" [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
  [externalPaging]="true" rowHeight="auto" [externalPaging]="true" [count]="page.totalElements"
  [offset]="page.pageNumber" [limit]="page.size" (page)="getResult($event)">

  <ngx-datatable-column name="#" [width]="10" class="indexCol"> 
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" class="indexCol">
      {{(rowIndex+1) + (page.pageNumber * page.size) }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column *ngIf="isArabic" name="{{ 'TITLE' | translate }}" prop="title_ar" [width]="800"></ngx-datatable-column>
  <ngx-datatable-column *ngIf="!isArabic" name="{{ 'TITLE' | translate }}" prop="title" [width]="800"></ngx-datatable-column>

</ngx-datatable>