<div>
  <div>
    <button nbButton outline status="primary" size="small" [routerLink]="'/pages/positions/add'">
      <nb-icon icon="plus-outline"></nb-icon>{{ 'GENERIC.ADD' | translate }} {{ 'POSITION' | translate }}
    </button>
    <label class="label">
      <input type="file" nbInput style="width: 70%;" [formControl]="myForm.controls['importfile']"
        id="importFile"
        placeholder="Import"
        (change)="importFile($event)">
      <span>IMPORT</span>
    </label>
  </div>
  <br/>
  <nb-accordion>
    <nb-accordion-item #item>
      <nb-accordion-item-header>
        {{ 'SEARCH' | translate }}
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <form class="form-inline">
          <input type="text" nbInput fullWidth placeholder="{{ 'NAME' | translate }}" [(ngModel)]="query.name" [ngModelOptions]="{standalone: true}">
          <nb-select fullWidth 
          placeholder="{{ 'STATUS_TEXT' | translate }}" [(ngModel)]="query.is_active" [ngModelOptions]="{standalone: true}">
          <nb-option value="1"> {{ 'STATUS.ACTIVE' | translate }}</nb-option>
          <nb-option value="0"> {{ 'STATUS.DEACTIVE' | translate }}</nb-option>
        </nb-select>
          <button type="submit" nbButton status="primary" (click)="search()">{{ 'SEARCH' | translate }}</button>
        </form>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
  <br/>
  <div class="row">
    <div class="col-md-4" *ngFor="let item of positions; let i = index">
      <nb-card>
        <nb-card-body>
          <div class="text-center">
            <h4>{{item.name}} - {{item.name_ar}}</h4>
            <p *ngIf="item.manager != null"> {{item.manager.full_name}}</p>
            <br />
            <nb-actions fullWidth="true" class="text-center" size="tiny" *ngIf="item.company_id != null">
              <nb-action [routerLink]="['/pages/positions/edit/', item.id]" icon="edit-outline"></nb-action>
              <nb-action (click)="delete(i, item)" icon="trash-2-outline"></nb-action>
            </nb-actions>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <ng-container *ngIf="!loaded">
    <div class="row loader-container">
      <div class="col-md-4" *ngFor="let item of fakeItems">
        <ngx-skeleton-loader [theme]="{ 'background-color': '#e8e8e8', 'border-radius': '0', height: '300px' }">
        </ngx-skeleton-loader>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="loaded && positions.length == 0">
    <div class="text-center margin-bottom">
      <img class="no-result" src="assets/images/nothing.svg" width="50px" />
      <p class="gray">{{ 'EMPTY_RESULT' | translate }}</p>
    </div>
  </ng-container>

  <ul class="pagination" *ngIf="totalItems != null && totalItems > 0
    ">
        <li  class="page-item first-item" [class.disabled]="page == 1" [disabled]="page == 1" (click)="setPage(1)"><a class="page-link">{{ 'FIRST' |
            translate }}</a></li>
        <li class="page-item previous-item" [class.disabled]="page == 1" [disabled]="page == 1" (click)="setPage(page - 1)"><a class="page-link">{{
            'PREVIOUS' | translate }}</a>
        </li>
        <li class="page-item number-item" *ngIf="page > 3" (click)="setPage(page - 3)"><a class="page-link">{{page - 3}}</a>
        </li>
        <li class="page-item number-item" *ngIf="page > 2" (click)="setPage(page - 2)"><a class="page-link">{{page - 2}}</a>
        </li>
        <li class="page-item number-item" *ngIf="page > 1" (click)="setPage(page - 1)"><a class="page-link">{{page - 1}}</a>
        </li>
        <li class="page-item number-item active"><a class="page-link">{{page}}</a></li>
        <li class="page-item number-item" *ngIf="lastPage > page" (click)="setPage(page + 1)"><a class="page-link">{{page +
            1}}</a></li>
        <li class="page-item number-item" *ngIf="lastPage > page + 1" (click)="setPage(page + 2)"><a
            class="page-link">{{page
            + 2}}</a></li>
        <li class="page-item number-item" *ngIf="lastPage > page + 2" (click)="setPage(page + 3)"><a
            class="page-link">{{page
            + 3}}</a></li>
        <li class="page-item next-item" [class.disabled]="lastPage <= page" (click)="setPage(page + 1)"><a
            class="page-link">{{ 'NEXT' | translate }}</a></li>
        <div class="total-items"> {{ 'TOTAL_ITEMS' | translate }}: {{totalItems}} </div>
      </ul>
</div>