<div class="row">
  <div class="col-md-8">
    <h2>{{ 'MENU_ITEMS.SUBSCRIPTION_HISTORY' | translate }}</h2>
  </div>
  <div class="col-md-4 " style="padding: 0px !important;">
    <button [nbSpinner]="exporting" nbSpinnerSize="small" class="float-right" nbButton outline status="dark" size="small"
    (click)="export()">
      {{ 'EXPORT' | translate }} 
    </button>
  </div>
</div>

<br/>
<nb-accordion>
  <nb-accordion-item #item>
    <nb-accordion-item-header>
      {{ 'SEARCH' | translate }}
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <form class="form-inline">
        <ng-select appendTo="body" nbInput fullWidth [multiple]="true" name="companyIds" (search)="searchE($event)"
        [loading]="peopleLoading" typeToSearchText="Please enter 2 or more characters" [(ngModel)]="companyIds">
        <ng-option *ngFor="let company of companies" [value]="company.id">{{company.name}}</ng-option>
      </ng-select>
      <nb-select fullWidth 
                  placeholder="{{ 'PACKAGE' | translate }}"
                  [(ngModel)]="package" name="package">
                  <nb-option *ngFor="let package of packages" [value]="package.id"> {{ package.name }} - {{ getPeriod(package.period) }}</nb-option>
                </nb-select>

      <input nbInput fullWidth class="input-full-width size-medium status-basic shape-rectangle" autocomplete="off" [(ngModel)]="range" name="range"
        placeholder="{{ 'DATE' | translate }}" [nbDatepicker]="rangeDate" name="rangeDate">
      <nb-rangepicker #rangeDate></nb-rangepicker>
        <button type="submit" nbButton status="primary" (click)="search()">{{ 'SEARCH' | translate }}</button>
      </form>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
<br/>

<ngx-datatable class="material striped" [virtualization]="false" [loadingIndicator]="loadingIndicator" [rows]="data" 
  [columnMode]="ColumnMode.force" [scrollbarH]="true" [headerHeight]="50" [footerHeight]="50"
  rowHeight="auto" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
  (page)="getResult($event)">

  <ngx-datatable-column name="#" [width]="10">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
      {{(rowIndex+1) + (page.pageNumber * page.size) }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{ 'COMPANY' | translate }}" prop="company" [width]="150">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span *ngIf="value != null"> {{value.name}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="{{ 'PACKAGE' | translate }}" prop="package" [width]="150">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span *ngIf="value != null"> {{value.name}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="{{ 'STARTING_DATE' | translate }}" prop="starts_in" [width]="200">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span>{{value | amDateFormat:'dddd - MMMM Do YYYY'}}</span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column name="{{ 'ENDING_DATE' | translate }}" prop="ended_in" [width]="200">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span>{{value | amDateFormat:'dddd - MMMM Do YYYY'}}</span>
    </ng-template>
  </ngx-datatable-column>
  

  <ngx-datatable-column name="{{ 'CREATED_AT' | translate }}" prop="created_at" [width]="200">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <span>{{value | amDateFormat:'dddd - MMMM Do YYYY'}}</span>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>


<table class="table" #myTableElementId id="myTableElementId" *ngIf="exported" style="display: none;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ 'COMPANY' | translate }}</th>
      <th scope="col">{{ 'PACKAGE' | translate }}</th>
      <th scope="col">{{ 'STARTING_DATE' | translate }}</th>
      <th scope="col">{{ 'ENDING_DATE' | translate }}</th>
      <th scope="col">{{ 'CREATED_AT' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allData; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td> <span *ngIf="item.company != null">{{item.company.name}} </span></td>
      <td> <span *ngIf="item.package != null">{{item.package.name}} </span></td>
      <td>{{item.starts_in}}</td>
      <td>{{item.ended_in}}</td>
      <td>{{item.created_at}}</td>
    </tr>
  </tbody>
</table>