<nb-card>
  <nb-card-header>{{title}}</nb-card-header>
  <nb-card-body style="min-width:80vw">
    <div *ngIf="allowances.length !== 0" class="table-container">
      <table id="customers">
        <tr>
          <th>name</th>
          <th>arabic name</th>
          <th>type</th>
          <th>amount</th>
        </tr>
        <tr *ngFor="let allowance of allowances">
          <td>{{allowance.name}}</td>
          <td>{{allowance.name_ar}}</td>
          <td>{{allowance.type}}</td>
          <td>{{allowance.amount}}</td>
        </tr>
      </table>
    </div>

    <button nbButton *ngIf="!addMode" status="primary" size="medium" (click)="toggleAddMode()">
      {{ 'ADD_NEW_ALLOWANCE' | translate }}
    </button>

    <div *ngIf="addMode" class="add-allowance-form-container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="label">{{ 'NAME' | translate }}</label>
            <input name="name" type="text" nbInput fullWidth [(ngModel)]="allowanceData.name"
              placeholder="{{ 'NAME' | translate }}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="label">{{ 'NAME_AR' | translate }}</label>
            <input name="name_ar" type="text" nbInput fullWidth [(ngModel)]="allowanceData.name_ar"
              placeholder="{{ 'NAME_AR' | translate }}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="label">{{ 'TYPE' | translate }}</label>
            <nb-select name="type" fullWidth [(ngModel)]="allowanceData.type" placeholder="{{ 'TYPE' | translate }}">
              <nb-option *ngFor="let type of types" [value]="type">{{ type }}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="label">{{ 'allow_or_ded_amount' | translate }}</label>
            <input name="amount" type="number" nbInput fullWidth [(ngModel)]="allowanceData.amount"
              placeholder="{{ 'allow_or_ded_amount' | translate }}">
          </div>
        </div>
      </div>
      <button nbButton status="primary" size="medium" (click)="addOtherAllowance()">
        {{ 'SAVE' | translate }}
      </button>
      <button nbButton status="primary" size="medium" (click)="cancelAddition()">
        {{ 'CANCEL' | translate }}
      </button>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" (click)="yes()">{{ 'DIALOG.OK' | translate }}</button>
  </nb-card-footer>
</nb-card>