@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  .span-status {
    min-width:10vw
  }


  .class1{
    color: #1bc5bd;
    background-color: #c9f7f5;
  }
  .class2{
    color: #1bc5bd;
    background-color: #c9f7f5;
  }
  .class3{
    color: #6b1818;
    background-color: #edacac;
  }
}

.demo-main {
  background-image: url("../../../../assets/images/subtle-prism.svg");
  min-height: 100vh;
}

.material {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  gap: 2vh;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
  height: -webkit-fill-available;
}

.material::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.material::-webkit-scrollbar-thumb {
  background-color: grey;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid white;
  /* creates padding around scroll thumb */
}